@use '../variables' as v;
.project{
    margin-top: 20%;
    padding: 0px 100px;
    h1{
        font-family: v.$rubik;
        font-weight: 700;
        text-align: center;
        color: white;
        font-size: 3rem;
        margin-bottom: 7%;
        span{
            color: v.$purple;
        }
    }
    .project-body{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        font-family: v.$poppins;
        gap: 30px;
        .card-item{
            padding: 20px;
            border-radius: 10px;
            background-color: transparent;
            border: 1px solid rgba(240, 239, 239, 0.1);
            padding-bottom: 10px;
            height: 350px;
            .xertis-img{
                border-radius: 10px;
                height: 40%;
                object-fit: cover;
                object-position: center;
            }
            .xertis-img:not(.project-img){
                object-position: top;
            }
            a{
                color: white;
                text-decoration: none;
                font-family: v.$rubik;
                display: inline-flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 10px;
                width: max-content;
                img{
                    width: 20px;
                    filter: brightness(0) saturate(100%) invert(10%) sepia(100%) saturate(7491%) hue-rotate(275deg) brightness(43%) contrast(99%);
                }
            }
            p{
                color: white;
                font-size: 0.875rem;
            }
        }
    }
    .all-projects-btn{
        display: flex;
        justify-self: center;
        margin-top: 7%;
        button{
            padding: 12px 30px;
            border: none;
            border-radius: 5px;
            color: white;
            background-color: v.$purple;
            font-family: v.$poppins;
            font-size: 1rem;
            font-weight: 700;
            letter-spacing: 3px;
            display: flex;
            gap: 10px;
            img{
                width: 20px;
                filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(98deg) brightness(109%) contrast(111%);
            }
        }
    }
}

@media (max-width: 576px){
    .project{
        width: 100%;
        margin-top: 30%;
        padding: 0px 10px;
        .project-body{
            flex-direction: column;
            align-items: center;
            .card-item{
                width: 100%;
            }
        }
        .all-projects-btn{
            margin-top: 20%;
        }
    }
}

@media (min-width: 576px) and (max-width: 768px){
    .project{
        width: 100%;
        margin-top: 20%;
        padding: 0px 10px;
        .all-projects-btn{
            margin-top: 15%;
        }
    }
}

@media (min-width: 768px) and (max-width: 992px){
    .project{
        width: 100%;
        margin-top: 20%;
        padding: 0px 50px;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .project{
        width: 100%;
        margin-top: 20%;
        padding: 0px 50px;
    }
}